
article
  color blacky
  margin-top 35px
  padding 45px 15px 175px
  width 80%

  img
    margin 20px 0
    margin-left -15%
    margin-right -15%
    width 130%

  h1
    background primary
    color white
    display inline-block
    padding 10px 25px

  h2
    margin 50px 0 25px

  span.highlight
    background primary
    color white
    padding 3px 7px
    line-height 0
    font-family 'Oswald', sans-serif
