
code
  background #F0FFCA
  color primary

pre
  margin 25px 0
  font-size 21px
  padding 25px
  border none
  border-bottom 3px solid #DDD

  code
    color black
    .comment
      font-weight 400
      color grey
    .keyword, .function.call
      font-weight 700
      color primary
    .string
      color #B75447
      &.value, &.quote
        color #BA5E57
        font-weight 700
    .entity.function
      color black
      font-weight 700
    .keyword.operator
      font-weight 400
    .tag
      color primary
      font-weight 700
      &.close
        float none
        opacity 1
    .support.attribute
      font-weight 700
