
body
  background white
  font-family 'Merriweather', serif
  font-size 21px
  line-height 1.9

img
  width 100%

a
  text-decoration underline
  color secondary

  &:hover
    color #FF4646

h1,h2,h3,h4,h5,h6
  font-family 'Oswald', sans-serif
  color secondary
  line-height 1.5
