
nav
	background #f9f9f9
	padding 45px 0
	font-family 'Oswald', sans-serif

	a
		margin-right 15px
		padding 10px 15px
		background tersier
		color secondary
		text-decoration none  !important

		&:hover
			background secondary
			color white

.back-to-top
	position fixed
	bottom 0
	right 5px
	font-family 'Oswald', sans-serif
	margin-right 15px
	padding 5px
	background primary
	color #e5f2ff
	text-decoration none  !important

	&:hover, &:active, &:focus
		background #90D3E1
		color white
